.sticky {
  position: fixed;
  z-index: 1010;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0; }

[data-sticky][class*="animation-"] {
  -webkit-animation-duration: .2s;
          animation-duration: .2s; }
